ruff==0.3.0
black==24.2.0
pydocstyle==6.3.0
isort==5.13.2
mypy==1.8.0
pyright==1.1.352
bandit==1.7.7
tox==4.13.0
pip-tools==7.4.0
python-dotenv==1.0.1
virtualenvwrapper==6.1.0
coverage==7.4.3
vulture==2.11
fixit==2.1.0
