ruff==0.11.8
black==25.1.0
pydocstyle==6.3.0
isort==6.0.1
mypy==1.15.0
pyright==1.1.400
bandit==1.8.3
tox==4.25.0
pip-tools==7.4.1
python-dotenv==1.1.0
virtualenvwrapper==6.1.1
coverage==7.8.0
vulture==2.14
fixit==2.1.0
rust-just==1.40.0
pytest==8.3.5
pytest-cov==6.1.1
